<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewAppointmentController</display-name>
    <servlet-name>viewAppointmentController</servlet-name>
    <servlet-class>doctorServlet.viewAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAppointmentController</servlet-name>
    <url-pattern>/viewAppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServletFile</display-name>
    <servlet-name>PatientServletFile</servlet-name>
    <servlet-class>com.project .controller.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServletFile</servlet-name>
    <url-pattern>/Patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAppointmentServlet</display-name>
    <servlet-name>ListAppointmentServlet</servlet-name>
    <servlet-class>com.project.controller.ListAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMedicalReportController</display-name>
    <servlet-name>addMedicalReportController</servlet-name>
    <servlet-class>controller.doctorServlet.addMedicalReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMedicalReportController</servlet-name>
    <url-pattern>/addMedicalReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeMedicalReportController</display-name>
    <servlet-name>removeMedicalReportController</servlet-name>
    <servlet-class>controller.doctorServlet.removeMedicalReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeMedicalReportController</servlet-name>
    <url-pattern>/removeMedicalReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAppointment</display-name>
    <servlet-name>AddAppointment</servlet-name>
    <servlet-class>controller.adminServlet.AddAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAppointment</servlet-name>
    <url-pattern>/AddAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAppointmentController</display-name>
    <servlet-name>NewAppointmentController</servlet-name>
    <servlet-class>controller.adminServlet.NewAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAppointmentController</servlet-name>
    <url-pattern>/NewAppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAppointment</display-name>
    <servlet-name>FindAppointment</servlet-name>
    <servlet-class>controller.adminServlet.FindAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAppointment</servlet-name>
    <url-pattern>/FindAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrRemoveController</display-name>
    <servlet-name>FindOrRemoveController</servlet-name>
    <servlet-class>controller.adminServlet.FindOrRemoveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrRemoveController</servlet-name>
    <url-pattern>/FindOrRemoveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointment</display-name>
    <servlet-name>DeleteAppointment</servlet-name>
    <servlet-class>controller.adminServlet.DeleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointment</servlet-name>
    <url-pattern>/DeleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveDoctorDepartment</display-name>
    <servlet-name>RetrieveDoctorDepartment</servlet-name>
    <servlet-class>controller.doctorServlet.RetrieveDoctorDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveDoctorDepartment</servlet-name>
    <url-pattern>/RetrieveDoctorDepartment</url-pattern>
  </servlet-mapping>
</web-app>