<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewAppointmentController</display-name>
    <servlet-name>viewAppointmentController</servlet-name>
    <servlet-class>controller.doctorServlet.viewAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAppointmentController</servlet-name>
    <url-pattern>/viewAppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientServletFile</display-name>
    <servlet-name>PatientServletFile</servlet-name>
    <servlet-class>com.project .controller.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServletFile</servlet-name>
    <url-pattern>/Patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAppointmentServlet</display-name>
    <servlet-name>ListAppointmentServlet</servlet-name>
    <servlet-class>controller.patientServlet.ListAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAppointment</display-name>
    <servlet-name>AddAppointment</servlet-name>
    <servlet-class>controller.adminServlet.AddAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAppointment</servlet-name>
    <url-pattern>/AddAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAppointmentController</display-name>
    <servlet-name>NewAppointmentController</servlet-name>
    <servlet-class>controller.adminServlet.NewAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAppointmentController</servlet-name>
    <url-pattern>/NewAppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAppointment</display-name>
    <servlet-name>FindAppointment</servlet-name>
    <servlet-class>controller.adminServlet.FindAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAppointment</servlet-name>
    <url-pattern>/FindAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDepartment</display-name>
    <servlet-name>DisplayDepartment</servlet-name>
    <servlet-class>controller.adminServlet.DisplayDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDepartment</servlet-name>
    <url-pattern>/DisplayDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDoctor</display-name>
    <servlet-name>DisplayDoctor</servlet-name>
    <servlet-class>controller.adminServlet.DisplayDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDoctor</servlet-name>
    <url-pattern>/DisplayDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrRemoveController</display-name>
    <servlet-name>FindOrRemoveController</servlet-name>
    <servlet-class>controller.adminServlet.FindOrRemoveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrRemoveController</servlet-name>
    <url-pattern>/FindOrRemoveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointment</display-name>
    <servlet-name>DeleteAppointment</servlet-name>
    <servlet-class>controller.adminServlet.DeleteAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointment</servlet-name>
    <url-pattern>/DeleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointment</display-name>
    <servlet-name>UpdateAppointment</servlet-name>
    <servlet-class>controller.adminServlet.UpdateAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointment</servlet-name>
    <url-pattern>/UpdateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicalReportServlet</display-name>
    <servlet-name>MedicalReportServlet</servlet-name>
    <servlet-class>controller.patientServlet.MedicalReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalReportServlet</servlet-name>
    <url-pattern>/MedicalReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DischargeSummaryServlet</display-name>
    <servlet-name>DischargeSummaryServlet</servlet-name>
    <servlet-class>controller.patientServlet.DischargeSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DischargeSummaryServlet</servlet-name>
    <url-pattern>/DischargeSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>controller.patientServlet.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicineServlet</display-name>
    <servlet-name>MedicineServlet</servlet-name>
    <servlet-class>controller.patientServlet.MedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineServlet</servlet-name>
    <url-pattern>/Medicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveDoctorList</display-name>
    <servlet-name>RetrieveDoctorList</servlet-name>
    <servlet-class>controller.doctorServlet.RetrieveDoctorList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveDoctorList</servlet-name>
    <url-pattern>/RetrieveDoctorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMedicalReportController</display-name>
    <servlet-name>addMedicalReportController</servlet-name>
    <servlet-class>controller.doctorServlet.addMedicalReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMedicalReportController</servlet-name>
    <url-pattern>/addMedicalReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrRemoveOrUpdateMedicalReportController</display-name>
    <servlet-name>ViewOrRemoveOrUpdateMedicalReportController</servlet-name>
    <servlet-class>controller.doctorServlet.ViewOrRemoveOrUpdateMedicalReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrRemoveOrUpdateMedicalReportController</servlet-name>
    <url-pattern>/ViewOrRemoveOrUpdateMedicalReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMedicalReport</display-name>
    <servlet-name>deleteMedicalReport</servlet-name>
    <servlet-class>controller.doctorServlet.deleteMedicalReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMedicalReport</servlet-name>
    <url-pattern>/deleteMedicalReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetViewOrRemoveOrUpdateMedicalReport</display-name>
    <servlet-name>GetViewOrRemoveOrUpdateMedicalReport</servlet-name>
    <servlet-class>controller.doctorServlet.GetViewOrRemoveOrUpdateMedicalReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetViewOrRemoveOrUpdateMedicalReport</servlet-name>
    <url-pattern>/GetViewOrRemoveOrUpdateMedicalReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateMedicalReport</display-name>
    <servlet-name>updateMedicalReport</servlet-name>
    <servlet-class>controller.doctorServlet.updateMedicalReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateMedicalReport</servlet-name>
    <url-pattern>/updateMedicalReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMR</display-name>
    <servlet-name>ViewMR</servlet-name>
    <servlet-class>controller.adminServlet.ViewMR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMR</servlet-name>
    <url-pattern>/ViewMR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTest</display-name>
    <servlet-name>AjaxTest</servlet-name>
    <servlet-class>controller.adminServlet.AjaxTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest</servlet-name>
    <url-pattern>/AjaxTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DischargeAjax</display-name>
    <servlet-name>DischargeAjax</servlet-name>
    <servlet-class>controller.adminServlet.DischargeAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DischargeAjax</servlet-name>
    <url-pattern>/DischargeAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDischargeSummary</display-name>
    <servlet-name>AddDischargeSummary</servlet-name>
    <servlet-class>controller.adminServlet.AddDischargeSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDischargeSummary</servlet-name>
    <url-pattern>/AddDischargeSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBill</display-name>
    <servlet-name>AddBill</servlet-name>
    <servlet-class>controller.adminServlet.AddBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBill</servlet-name>
    <url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveMedicineList</display-name>
    <servlet-name>RetrieveMedicineList</servlet-name>
    <servlet-class>controller.doctorServlet.RetrieveMedicineList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveMedicineList</servlet-name>
    <url-pattern>/RetrieveMedicineList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeMedicine</display-name>
    <servlet-name>removeMedicine</servlet-name>
    <servlet-class>controller.doctorServlet.removeMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeMedicine</servlet-name>
    <url-pattern>/removeMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewBillController</display-name>
    <servlet-name>NewBillController</servlet-name>
    <servlet-class>controller.adminServlet.NewBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewBillController</servlet-name>
    <url-pattern>/NewBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>controller.adminServlet.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInController</display-name>
    <servlet-name>LogInController</servlet-name>
    <servlet-class>controller.loginSignUp.LogInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInController</servlet-name>
    <url-pattern>/LogInController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalInfo</display-name>
    <servlet-name>HospitalInfo</servlet-name>
    <servlet-class>controller.adminServlet.HospitalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalInfo</servlet-name>
    <url-pattern>/HospitalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>controller.loginSignUp.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveDoctor</display-name>
    <servlet-name>RemoveDoctor</servlet-name>
    <servlet-class>controller.adminServlet.RemoveDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDoctor</servlet-name>
    <url-pattern>/RemoveDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Findbill</display-name>
    <servlet-name>Findbill</servlet-name>
    <servlet-class>controller.adminServlet.Findbill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Findbill</servlet-name>
    <url-pattern>/Findbill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBill</display-name>
    <servlet-name>DeleteBill</servlet-name>
    <servlet-class>controller.adminServlet.DeleteBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBill</servlet-name>
    <url-pattern>/DeleteBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrRemoveBillController</display-name>
    <servlet-name>FindOrRemoveBillController</servlet-name>
    <servlet-class>controller.adminServlet.FindOrRemoveBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrRemoveBillController</servlet-name>
    <url-pattern>/FindOrRemoveBillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBill</display-name>
    <servlet-name>UpdateBill</servlet-name>
    <servlet-class>controller.adminServlet.UpdateBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBill</servlet-name>
    <url-pattern>/UpdateBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBill</display-name>
    <servlet-name>SearchBill</servlet-name>
    <servlet-class>controller.adminServlet.SearchBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBill</servlet-name>
    <url-pattern>/SearchBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveAppointmentId</display-name>
    <servlet-name>RetrieveAppointmentId</servlet-name>
    <servlet-class>controller.doctorServlet.RetrieveAppointmentId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveAppointmentId</servlet-name>
    <url-pattern>/RetrieveAppointmentId</url-pattern>
  </servlet-mapping>
</web-app>